/Aula2/build/
/Aula2/nbproject/private/
/Logica/Aula2/build/
/Logica/Aula2/nbproject/private/
/Aula3/nbproject/private/
/Aula3/build/
/Aula4/nbproject/private/
/Aula4/build/
/Aula5/nbproject/private/
/Aula5/build/
/Aula06/build/
/Aula6/nbproject/private/
/Aula6/build/
/Aula7/nbproject/private/
/Aula7/build/
/Aula8/nbproject/private/
/Aula8/build/
/Prova 3/Prova de Java/nbproject/private/
/Prova 3/Prova de Java/build/
/Prova 3/Aula9/nbproject/private/
/Prova 3/Aula9/build/
/Prova 3/Aula10/nbproject/private/
/Prova 3/Aula10/build/
/Aula9/build/
/Aula9/nbproject/private/
/Aula11/nbproject/private/
/Aula11/build/
/Aula11Exercicios/nbproject/private/
/Aula11Exercicios/build/
/ProvaIndicadorQuatro/nbproject/private/
/ProvaIndicadorQuatro/build/
/Aula12/nbproject/private/
/Aula12/build/
/Aula13/nbproject/private/
/Aula13/build/
/TarefasMatrizes/nbproject/private/
/TarefasMatrizes/build/
/Aula14/nbproject/private/
/Aula14/build/
/ProvaQuestaoEstacionamento/nbproject/private/
/ProvaEstacionamento/nbproject/private/
/ProvaEstacionamento/build/
